#message-box.position-fixed('*ngIf'='showMessageBox')
    section.message-box-container.alert.alert-dismissible.show(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close', (click)='onClose()')
            .thin-x
        .container.text-box-container
            .row
                .col-sm-3
                    figure([ngClass]="{'success-icon': isSuccess()}")
                .col-sm-9
                    h4.alert-heading.text-center {{ messageTitle }}
                    p.text-center {{ messageBody }}
                    p.mb-0
section.overlay.height-100.width-100('*ngIf'='showMessageBox')
