@mixin font-specifications($fontSize, $lineHeight, $fontWeight) {
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}

.headline-a {
    @include font-specifications(32px, 40px, normal);
}

.headline-b {
    @include font-specifications(18px, 24px, normal);
}

.sub-heading-a {
    @include font-specifications(16px, 24px, normal);
}

.sub-heading-a-bold {
    @include font-specifications(16px, 24px, bold);
}

.sub-heading-b {
    @include font-specifications(14px, 20px, normal);
}

.sub-heading-b-medium {
    @include font-specifications(14px, 20px, 400);
}

.body-a {
    @include font-specifications(13px, 16px, normal);
}

.body-a-medium {
    @include font-specifications(13px, 16px, 400);
}

.body-a-bold {
    @include font-specifications(13px, 16px, bold);
}

.body-b {
    @include font-specifications(12px, 16px, normal);
}

.body-b-bold {
    @include font-specifications(12px, 16px, bold);
}

.tooltips-tags {
    @include font-specifications(11px, 14px, normal);
}

.button-primary {
    @include font-specifications(14px, 20px, normal);
}

.button-medium {
    @include font-specifications(12px, 16px, normal);
}
