$white: #FFFFFF;
$black: #333333;
$blue: #0696D7;
$silver: #CCCCCC;
$error-text-color: #FF0033;
$input-border-color: $silver;
$color-success: #63B009;
$color-error: #DC3C1E;
$color-action-1: #0696D7;
$btn-primary-color: #0696D7;
$btn-primary-color-hover: #007FBA;

$greyscale-0: $white;
$greyscale-1: #FBFBFB;
$greyscale-2: #F9F9F9;
$greyscale-3: #F5F5F5;
$greyscale-4: #DDDDDD;
$greyscale-5: #CDCDCD;
$greyscale-6: #666666;
$greyscale-7: $black;
