@font-face {
    font-family: 'BrandonRegular';
    src: url(../assets/fonts/Brandon_reg2.otf);
    font-weight: normal;
    font-style: normal;
}

html, body {
  font-family: 'BrandonRegular';
}

//html, body {
//    font-family: 'ArtifaktElementRegular', sans-serif;
//    -ms-text-size-adjust: 100%;
//    -webkit-text-size-adjust: 100%;
//    height: 100%;
//    font-size: 14px;
//    background-color: $white;
//}
