.error-message-modal
    .error-alert('*ngIf'='showServerError').position-abs
        img(src='../../../assets/img/close_x.png', (click)='showServerError = false').dismiss-btn
        .alert-content
            .icon-area
                img(src='../../../assets/img/error-hover.svg').alert-triangle
                i.text-danger.icon-warn
            .body-area
                .error-messages-title {{ serverErrorTitle }}
                .error-messages-body {{ serverErrorBody }}
