.main-nav
    nav.navbar.border-none.position-rel.mx-auto
        div.container-fluid
            section.navbar-branding.position-abs.hidden-sm-down
                img.navbar-icon(src='../assets/img/adsk-logo.png')
                span#header-title.navbar-title.display-ib.v-align-mid.padding-l-10 Manual Order Entry
            section.nav-menu.text-center
                .nav-item-container.display-ib.v-align-top('*ngFor'='let item of menuItems' id='{{ item.route | slice:1 }}-nav-item')
                    button.btn.btn-secondary.circle.position-rel.padding-0.border-none((click)='onClick(item.route)', [disabled]='isDisabled(item.route)')
                        strong([ngClass]='{ "active": isCurrentPage(item.route) }') {{ item.number }}
                    hr.progress-line.display-ib.position-abs
                    .nav-item-text.padding-t-10([ngClass]='{ "active": isCurrentPage(item.route) }') {{ item.name }}
            section.customer-content.position-abs.hidden-sm-down(*ngIf='callerInfo && router.url !== "/customer-information"')
                p#header-customer-name {{ callerInfo.customerFirstName }}&nbsp;{{ callerInfo.customerLastName }}
                p#header-customer-email(*ngIf='router.url === "/checkout"') {{ callerInfo.customerEmail }}
                p#header-customer-phone {{ callerInfo.customerPhone }}
                p#header-customer-country {{ countries[callerInfo.customerCountry] }}
